@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e344c;
  --secondary: #2b4f6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: "Readex Pro", Arial, Helvetica, sans-serif;
}