@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

.home-card-bg {
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    background: #1e344c
}

.home-card {
    padding: 10px 20px;
    height: 80px;
    border-radius: 10px;
    background: #152838;
    align-items: center;
    justify-content: left;
    font-family: "Readex Pro";
}

.home-card .heading {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ceb99a;
}

.home-card .sub-title {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #ceb99a;
}